body{
	font-family:Arial;

}
.wrapper {
  width: 600px;
  margin: 50px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* border: 2px solid brown; */
}

.card {
  border: 2px solid blue;
  padding: 10px;
  border-radius: 5px;

  
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 7px 5px rgba(0,0,0,0);
}

#form {
  text-align: center;
}

#title {
  text-align: center;
  
}

#submit {
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  border: none;

  margin-left: 10px;
}

#submit:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#submit:active {
  position: relative;
  top: 1px;
}
